<div class="col-sm-8 blog-main">
  <h2><%= @blog.title %></h2>
  <p><%= @blog.body %></p>

  <%= render "comments/comment_form" %>
  <%= render @blog.comments %>

  <% if logged_in?(:site_admin) %>
    <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <% end %>
  <%= link_to 'Back', blogs_path %>
</div>
