<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <%= source_helper "alert alert-success" %>

  <div class="sidebar-module">
    <h4>Topic</h4>
    <span>
      <% @sidebar_topics.each do |topic| %>
        <div class="btn btn-info btn-sm" style= "margin-bottom: 5px;">
          <%= link_to topic.title, topic, style: "color: white; text-decoration: none; margin-bottom: 15px;" %>
        </div>
      <% end%>
    </span>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>
